parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$string of function explode expects string, bool\|string given\.$#'
			identifier: argument.type
			count: 1
			path: config/sanctum.php

		-
			message: '#^Cannot access an offset on mixed\.$#'
			identifier: offsetAccess.nonOffsetAccessible
			count: 1
			path: packages/idei/usim/src/Components/Card.php

		-
			message: '#^Property Idei\\Usim\\Components\\MenuDropdown\:\:\$items \(list\<array\<string, mixed\>\>\) does not accept array\<mixed, mixed\>\.$#'
			identifier: assign.propertyType
			count: 1
			path: packages/idei/usim/src/Components/MenuDropdown.php

		-
			message: '#^Parameter \#1 \$string of function addslashes expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: packages/idei/usim/src/Console/Commands/DiscoverScreensCommand.php

		-
			message: '#^Cannot cast mixed to string\.$#'
			identifier: cast.string
			count: 2
			path: packages/idei/usim/src/Console/Commands/InstallCommand.php

		-
			message: '#^Method Idei\\Usim\\Console\\Commands\\Support\\InstallStateManager\:\:read\(\) should return array\<string, mixed\>\|null but returns array\<mixed, mixed\>\|null\.$#'
			identifier: return.type
			count: 1
			path: packages/idei/usim/src/Console/Commands/Support/InstallStateManager.php

		-
			message: '#^Method Idei\\Usim\\DataTable\\AbstractTableModel\:\:getRemovalValues\(\) should return list\<string\> but returns array\<int\<0, max\>, string\>\.$#'
			identifier: return.type
			count: 1
			path: packages/idei/usim/src/DataTable/AbstractTableModel.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 1
			path: packages/idei/usim/src/Models/UsimRole.php

		-
			message: '#^Property Idei\\Usim\\Models\\UsimTextKey\:\:\$group \(string\|null\) does not accept mixed\.$#'
			identifier: assign.propertyType
			count: 1
			path: packages/idei/usim/src/Support/Translation/TranslationKeyManager.php

		-
			message: '#^Parameter \#2 \$replace of function __ expects array\<string, bool\|float\|int\|string\|null\>, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: packages/idei/usim/src/Support/helpers.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: array.invalidKey
			count: 1
			path: packages/idei/usim/src/UIChangesCollector.php
