parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#2 \$replace of function __ expects array\<string, bool\|float\|int\|string\|null\>, array\<string, mixed\> given\.$#'
			identifier: argument.type
			count: 1
			path: packages/idei/usim/src/Support/helpers.php

		-
			message: '#^Possibly invalid array key type mixed\.$#'
			identifier: array.invalidKey
			count: 1
			path: packages/idei/usim/src/UIChangesCollector.php
